@page
@model OnlineLearningPlatform.RazorPages.Pages.Auth.ForgotPasswordModel
@{
}
<form method="post">
    <input asp-for="Email" placeholder="Enter your email" />
    <button type="submit">Send OTP</button>
</form>