@page
@model OnlineLearningPlatform.RazorPages.Pages.Auth.ResetPasswordModel
@{
}
<form method="post">
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />

    <input asp-for="NewPassword" type="password" placeholder="New Password" />

    <button type="submit">Reset Password</button>
</form>